/*! sanitize.css v2.0.0 | CC0 1.0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
/* line 32, ../sass/vendors/sanitize.scss */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

/* line 38, ../sass/vendors/sanitize.scss */
audio:not([controls]) {
  display: none;
}

/* line 42, ../sass/vendors/sanitize.scss */
button {
  overflow: visible;
}

/* line 46, ../sass/vendors/sanitize.scss */
details {
  display: block;
}

/* line 51, ../sass/vendors/sanitize.scss */
input[type="number"] {
  width: auto;
}
/* line 55, ../sass/vendors/sanitize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}
/* line 58, ../sass/vendors/sanitize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 65, ../sass/vendors/sanitize.scss */
main {
  display: block;
}

/* line 69, ../sass/vendors/sanitize.scss */
summary {
  display: block;
}

/* line 73, ../sass/vendors/sanitize.scss */
pre {
  overflow: auto;
}

/* line 77, ../sass/vendors/sanitize.scss */
progress {
  display: inline-block;
}

/* line 81, ../sass/vendors/sanitize.scss */
small {
  font-size: 75%;
}

/* line 85, ../sass/vendors/sanitize.scss */
template {
  display: none;
}

/* line 89, ../sass/vendors/sanitize.scss */
textarea {
  overflow: auto;
}

/* line 93, ../sass/vendors/sanitize.scss */
[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
/* line 101, ../sass/vendors/sanitize.scss */
*,
::before,
::after {
  box-sizing: inherit;
}

/* line 107, ../sass/vendors/sanitize.scss */
* {
  font-size: inherit;
  line-height: inherit;
}

/* line 112, ../sass/vendors/sanitize.scss */
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
/* line 126, ../sass/vendors/sanitize.scss */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

/* line 135, ../sass/vendors/sanitize.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 142, ../sass/vendors/sanitize.scss */
:root {
  box-sizing: border-box;
  cursor: default;
  font: 62.5%/1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 151, ../sass/vendors/sanitize.scss */
html {
  background-color: #fff;
  color: #000;
  font-size: 62.5%;
}

/* line 159, ../sass/vendors/sanitize.scss */
a {
  text-decoration: none;
}

/* line 165, ../sass/vendors/sanitize.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 176, ../sass/vendors/sanitize.scss */
button,
input,
select,
textarea {
  background-color: transparent;
}

/* line 185, ../sass/vendors/sanitize.scss */
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* line 197, ../sass/vendors/sanitize.scss */
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

/* line 221, ../sass/vendors/sanitize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/* line 230, ../sass/vendors/sanitize.scss */
nav ol,
nav ul {
  list-style: none;
}

/* line 237, ../sass/vendors/sanitize.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 241, ../sass/vendors/sanitize.scss */
select::-ms-expand {
  display: none;
}
/* line 245, ../sass/vendors/sanitize.scss */
select::-ms-value {
  color: currentColor;
}

/* line 252, ../sass/vendors/sanitize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 259, ../sass/vendors/sanitize.scss */
textarea {
  resize: vertical;
}

/* line 265, ../sass/vendors/sanitize.scss */
::selection {
  background-color: #B3D4FC;
  color: #4c2b03;
  text-shadow: none;
}

/* line 273, ../sass/vendors/sanitize.scss */
[aria-busy="true"] {
  cursor: progress;
}

/* line 279, ../sass/vendors/sanitize.scss */
[aria-controls] {
  cursor: pointer;
}

/* line 285, ../sass/vendors/sanitize.scss */
[aria-disabled] {
  cursor: default;
}

/* line 291, ../sass/vendors/sanitize.scss */
[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}
/* line 296, ../sass/vendors/sanitize.scss */
[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

/* line 301, ../sass/vendors/sanitize.scss */
body {
  -webkit-overflow-scrolling: touch;
}

/* line 305, ../sass/vendors/sanitize.scss */
button {
  outline: none;
}

/* line 1, ../sass/vendors/temp.scss */
#mfPreviewBar {
  display: none;
}

/* line 3, ../sass/all/_mobile.scss */
.standard-button {
  background: #fff;
  color: #372772;
  cursor: pointer;
  font-family: "Trade Gothic Com", Arial, sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 0.3em;
  padding: 15px 18px 13px;
  padding: 1.5rem 1.8rem 1.3rem;
  text-align: center;
  text-transform: uppercase;
}

/* line 17, ../sass/all/_mobile.scss */
.standard-button--arrow {
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 21, ../sass/all/_mobile.scss */
.standard-button:active {
  background: #372772;
  color: #fff;
}

/* line 28, ../sass/all/_mobile.scss */
.standard--p {
  color: #787583;
  font-family: "Trade Gothic Com", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 1.7;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

/* line 41, ../sass/all/_mobile.scss */
.st0 {
  fill: #372772;
}

/* line 44, ../sass/all/_mobile.scss */
.st1 {
  fill: #fff;
}

/* line 47, ../sass/all/_mobile.scss */
.st2 {
  fill: #787583;
}

/* line 3, ../sass/nav/_mobile.scss */
.top-nav {
  background: #372772;
  border-bottom: 1px solid #59507b;
  height: 68px;
  height: 6.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  width: 100%;
  z-index: 10;
}

/* line 21, ../sass/nav/_mobile.scss */
.top-nav.is-hidden {
  -webkit-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}

/* line 25, ../sass/nav/_mobile.scss */
.top-nav__container {
  height: 100%;
  position: relative;
}

/* line 29, ../sass/nav/_mobile.scss */
.top-nav__banner {
  background: #372772;
  border-bottom: 1px solid #59507b;
  height: 100%;
  position: relative;
  z-index: 10;
}

/* line 36, ../sass/nav/_mobile.scss */
.top-nav__banner--link > svg {
  height: 32px;
  height: 3.2rem;
  left: 23px;
  left: 2.3rem;
  position: absolute;
  top: 17px;
  top: 1.7rem;
}

/* line 45, ../sass/nav/_mobile.scss */
.top-nav__close-btn svg {
  height: 18px;
  height: 1.8rem;
  position: absolute;
  right: 26px;
  right: 2.6rem;
  top: 24px;
  top: 2.4rem;
}

/* line 54, ../sass/nav/_mobile.scss */
#mobile-close {
  right: 30px;
  right: 3rem;
}

/* line 58, ../sass/nav/_mobile.scss */
#mobile-close,
.top-nav__banner.is-open #mobile-hamburger,
.top-nav__login-btn {
  display: none;
}

/* line 63, ../sass/nav/_mobile.scss */
.top-nav__banner.is-open #mobile-close {
  display: block;
}

/* line 67, ../sass/nav/_mobile.scss */
.top-nav__links {
  background: #372772;
  position: relative;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  z-index: 9;
}

/* line 76, ../sass/nav/_mobile.scss */
.top-nav__banner.is-open + .top-nav__links {
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

/* line 81, ../sass/nav/_mobile.scss */
.top-nav__link,
.top-nav__link--sublink,
.top-nav__header {
  border-bottom: 1px solid #59507b;
  color: #fff;
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 400;
  display: block;
  letter-spacing: 0.3em;
  line-height: 1;
  margin: 0;
  padding: 28px 23px 24px;
  padding: 2.8rem 2.3rem 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 99, ../sass/nav/_mobile.scss */
.top-nav__link--sublink {
  font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.05em;
  margin-left: 60px;
  margin-left: 6rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
  padding-top: 21px;
  padding-top: 2.1rem;
  text-transform: none;
}

/* line 3, ../sass/hero/_mobile.scss */
.hero {
  background: transparent url(..//media/hero-index-3.jpg) no-repeat 50% 50%;
  background-size: 335%;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  padding-bottom: 30px;
  padding-bottom: 3rem;
  padding-top: 60px;
  padding-top: 6rem;
  position: relative;
  text-align: center;
}

/* line 17, ../sass/hero/_mobile.scss */
.hero__container {
  height: 100%;
  position: relative;
  width: 100%;
}

/* line 22, ../sass/hero/_mobile.scss */
.hero__header {
  margin: 35px 40px 18px;
  margin: 3.5rem 4rem 1.8rem;
  position: relative;
}

/* line 27, ../sass/hero/_mobile.scss */
.hero__headline {
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

/* line 37, ../sass/hero/_mobile.scss */
.hero__headline--subhead {
  display: block;
  font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
}

/* line 41, ../sass/hero/_mobile.scss */
.hero__p,
.hero__list {
  font-family: "Trade Gothic Com", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 900;
  padding-left: 40px;
  padding-left: 4rem;
  padding-right: 40px;
  padding-right: 4rem;
  letter-spacing: .01em;
  line-height: 1.75;
  margin-bottom: 52px;
  margin-bottom: 5.2rem;
}

/* line 56, ../sass/hero/_mobile.scss */
.hero__p--sup {
  font-size: .5rem;
  line-height: 2.2;
  vertical-align: top;
}

/* line 61, ../sass/hero/_mobile.scss */
.hero__list {
  list-style: none;
  margin-bottom: 37px;
  margin-bottom: 3.7rem;
}

/* line 66, ../sass/hero/_mobile.scss */
.hero__list--item {
  margin-bottom: 18px;
  margin-bottom: 1.8rem;
  position: relative;
}

/* line 71, ../sass/hero/_mobile.scss */
.hero__list--dot {
  position: relative;
}

/* line 74, ../sass/hero/_mobile.scss */
.hero__list--dot::after {
  content: '\2022';
  left: -18px;
  left: -1.8rem;
  position: absolute;
  top: -.5rem;
}

/* line 81, ../sass/hero/_mobile.scss */
.hero__jump-btn {
  display: none;
}

/* line 88, ../sass/hero/_mobile.scss */
.index .hero {
  padding-bottom: 60px;
  padding-bottom: 6rem;
}

/* line 95, ../sass/hero/_mobile.scss */
.intelligence .hero,
.zero .hero {
  background-image: url(..//media/hero-intelligence-2.jpg);
  background-size: 266%;
  height: 100%;
  text-align: center;
}
/* line 101, ../sass/hero/_mobile.scss */
.intelligence .hero__headline--sup,
.zero .hero__headline--sup {
  font-size: 10px;
  font-size: 1rem;
}
/* line 105, ../sass/hero/_mobile.scss */
.intelligence .hero__subhead,
.zero .hero__subhead {
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: .25em;
  line-height: 1.8;
  text-transform: uppercase;
}
/* line 113, ../sass/hero/_mobile.scss */
.intelligence .standard-button,
.zero .standard-button {
  display: inline-block;
  height: 40px;
  height: 4rem;
  line-height: .7;
  margin-bottom: 46px;
  margin-bottom: 4.6rem;
}

/* line 123, ../sass/hero/_mobile.scss */
.zero .hero {
  background-image: url(../media/hero-zero-2.jpg);
  background-position: 37% 80%;
  background-size: 260%;
}

/* line 3, ../sass/testimonials/_mobile.scss */
.testimonials {
  background: #fff;
  color: #372772;
  -webkit-font-smoothing: antialiased;
  padding: 40px 20px;
  padding: 4rem 2rem;
  position: relative;
  text-align: center;
}

/* line 12, ../sass/testimonials/_mobile.scss */
.testimonials__testimonial,
.testimonials__arrow--left,
.testimonials__arrow--right {
  display: none;
  position: relative;
}

/* line 18, ../sass/testimonials/_mobile.scss */
.testimonials__testimonial.is-visible {
  display: block;
}

/* line 21, ../sass/testimonials/_mobile.scss */
.testimonials__quote {
  font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  padding-bottom: 16px;
  padding-bottom: 1.6rem;
  position: relative;
}

/* line 34, ../sass/testimonials/_mobile.scss */
.testimonials__quote::after {
  border-bottom: 2px solid #372772;
  bottom: 0;
  content: '';
  left: 50%;
  margin-left: -6px;
  margin-left: -.6rem;
  position: absolute;
  width: 13px;
  width: 1.3rem;
}

/* line 45, ../sass/testimonials/_mobile.scss */
.testimonials__footer {
  font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  line-height: 1.4;
  margin-bottom: 38px;
  margin-bottom: 3.8rem;
  text-transform: uppercase;
}

/* line 56, ../sass/testimonials/_mobile.scss */
.testimonials__byline {
  display: block;
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-style: normal;
}

/* line 61, ../sass/testimonials/_mobile.scss */
.testimonials__breadcrumb {
  bottom: 35px;
  bottom: 3.5rem;
  display: block;
  left: 50%;
  margin-left: -43px;
  margin-left: -4.3rem;
  position: absolute;
  width: 86px;
  width: 8.6rem;
}

/* line 72, ../sass/testimonials/_mobile.scss */
.testimonials__crumb {
  background: #787583;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  height: .5rem;
  margin-right: 16px;
  margin-right: 1.6rem;
  width: 5px;
  width: .5rem;
}

/* line 83, ../sass/testimonials/_mobile.scss */
.testimonials__crumb:last-child {
  margin-right: 0;
}

/* line 86, ../sass/testimonials/_mobile.scss */
.testimonials__crumb.is-active {
  background: #372772;
}

/* line 3, ../sass/solutions/_mobile.scss */
.solutions {
  background: #372772;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 47px 23px;
  padding: 4.7rem 2.3rem;
  position: relative;
  text-align: left;
}
/* line 12, ../sass/solutions/_mobile.scss */
.solutions .standard-button {
  margin-left: 20px;
  margin-left: 2rem;
}

/* line 17, ../sass/solutions/_mobile.scss */
.solutions__type {
  border-bottom: 2px solid #e4e4e7;
  display: block;
  margin-bottom: 50px;
  margin-bottom: 5rem;
  padding-bottom: 63px;
  padding-bottom: 6.3rem;
  position: relative;
}

/* line 26, ../sass/solutions/_mobile.scss */
.solutions__type:last-child {
  border-bottom: none;
  margin-bottom: 24px;
  margin-bottom: 2.4rem;
  padding-bottom: 0;
}

/* line 32, ../sass/solutions/_mobile.scss */
.solutions__headline {
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-bottom: 23px;
  margin-bottom: 2.3rem;
  padding-left: 20px;
  padding-left: 2rem;
}

/* line 44, ../sass/solutions/_mobile.scss */
.solutions__headline--sup {
  font-size: .3em;
  line-height: 1.8;
  vertical-align: top;
}

/* line 49, ../sass/solutions/_mobile.scss */
.solutions__headline--subhead {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: .25em;
  padding-top: 10px;
  padding-top: 1rem;
  text-transform: uppercase;
}

/* line 58, ../sass/solutions/_mobile.scss */
.solutions__list {
  font-family: "Trade Gothic Com", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.8;
  margin: 0 20px 54px;
  margin: 0 2rem 5.4rem;
}

/* line 68, ../sass/solutions/_mobile.scss */
.solutions__list--item {
  margin-bottom: 17px;
  margin-bottom: 1.7rem;
}

/* line 77, ../sass/solutions/_mobile.scss */
.intelligence .solutions,
.zero .solutions {
  padding-bottom: 55px;
  padding-bottom: 5.5rem;
}
/* line 81, ../sass/solutions/_mobile.scss */
.intelligence .solutions .standard-button,
.zero .solutions .standard-button {
  bottom: -22px;
  bottom: -2.2rem;
  margin-bottom: 0;
  position: absolute;
}

/* line 3, ../sass/footer/_mobile.scss */
.footer {
  background: #e4e4e7;
  color: #787583;
  padding: 37px 43px 15px;
  padding: 3.7rem 4.3rem 1.5rem;
  position: relative;
}

/* line 10, ../sass/footer/_mobile.scss */
.footer__contact {
  margin-bottom: 41px;
  margin-bottom: 4.1rem;
  position: relative;
}

/* line 15, ../sass/footer/_mobile.scss */
.footer__info {
  margin-bottom: 22px;
  margin-bottom: 2.2rem;
  position: relative;
}

/* line 20, ../sass/footer/_mobile.scss */
.footer__header {
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  margin-bottom: 6px;
  margin-bottom: .6rem;
  text-transform: uppercase;
}

/* line 30, ../sass/footer/_mobile.scss */
.footer__p {
  font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 24px;
  line-height: 2.4rem;
}

/* line 38, ../sass/footer/_mobile.scss */
.footer__logo {
  margin-bottom: 41px;
  margin-bottom: 4.1rem;
  position: relative;
}
/* line 43, ../sass/footer/_mobile.scss */
.footer__logo .footer__p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 20px;
  line-height: 2rem;
}
/* line 49, ../sass/footer/_mobile.scss */
.footer__logo svg {
  float: left;
  margin-right: 30px;
  margin-right: 3rem;
  margin-top: 3px;
  margin-top: .3rem;
  width: 85px;
  width: 8.5rem;
}

/* line 59, ../sass/footer/_mobile.scss */
.footer__copyright {
  font-family: "Trade Gothic Com", Arial, sans-serif;
  font-size: 6px;
  letter-spacing: 0.3em;
  line-height: 2.2;
  text-transform: uppercase;
}

/* line 66, ../sass/footer/_mobile.scss */
.footer__copyright--patent {
  display: block;
}

/* line 3, ../sass/splash/_mobile.scss */
.splash {
  margin-top: 64px;
  margin-top: 6.4rem;
  -webkit-font-smoothing: antialiased;
  padding: 36px 43px 70px;
  padding: 3.6rem 4.3rem 7rem;
  position: relative;
}
/* line 11, ../sass/splash/_mobile.scss */
.splash p,
.splash .splash__p {
  color: #787583;
  font-family: "Trade Gothic Com", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 1.8;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}
/* line 22, ../sass/splash/_mobile.scss */
.splash p a,
.splash .splash__p a {
  color: #372772;
  position: relative;
}
/* line 26, ../sass/splash/_mobile.scss */
.splash p a::after,
.splash .splash__p a::after {
  background: #372772;
  bottom: -2px;
  bottom: -.2rem;
  content: '';
  height: 1px;
  height: .1rem;
  left: 0;
  position: absolute;
  width: 100%;
}

/* line 39, ../sass/splash/_mobile.scss */
.splash__container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

/* line 45, ../sass/splash/_mobile.scss */
.splash__header {
  color: #372772;
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: 36px;
  margin-bottom: 3.6rem;
}

/* line 55, ../sass/splash/_mobile.scss */
.splash__headline {
  font-weight: 400;
  margin-bottom: 17px;
  margin-bottom: 1.7rem;
}

/* line 60, ../sass/splash/_mobile.scss */
.splash__subhead {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 1.6;
  text-transform: uppercase;
}

/* line 72, ../sass/splash/_mobile.scss */
.news .splash__header {
  margin-bottom: 38px;
  margin-bottom: 3.8rem;
}

/* line 3, ../sass/splash/newsroom/_mobile.scss */
.splash__article {
  border-top: 1px solid #787583;
  padding: 30px 0 44px;
  padding: 3rem 0 4.4rem;
}
/* line 8, ../sass/splash/newsroom/_mobile.scss */
.splash__article .standard-button {
  display: inline-block;
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .25em;
  padding: 0;
  text-align: left;
}
/* line 19, ../sass/splash/newsroom/_mobile.scss */
.splash__article .standard-button--arrow {
  font-size: 120%;
}

/* line 24, ../sass/splash/newsroom/_mobile.scss */
.splash__article--header img {
  height: auto;
  margin: 3px auto 30px;
  margin: .3rem auto 3rem;
  width: 100%;
}

/* line 31, ../sass/splash/newsroom/_mobile.scss */
.splash__article--timestamp {
  color: #787583;
  display: block;
  font-family: "Trade Gothic Com Bold", Arial, sans-serif;
  font-size: 10px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .3em;
  margin-bottom: 7px;
  margin-bottom: .7rem;
  position: relative;
  text-transform: uppercase;
}

/* line 44, ../sass/splash/newsroom/_mobile.scss */
.splash__article--headline {
  color: #372772;
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.4;
  margin-bottom: 17px;
  margin-bottom: 1.7rem;
}

/* line 55, ../sass/splash/newsroom/_mobile.scss */
.splash__article--load-more-btn {
  background: #372772;
  color: #fff;
  display: block;
  margin: 1.1rem auto 0;
}
/* line 61, ../sass/splash/newsroom/_mobile.scss */
.splash__article--load-more-btn .standard-button--arrow {
  font-size: 100%;
}

/* line 65, ../sass/splash/newsroom/_mobile.scss */
.splash__article--nav {
  display: none;
}

/* line 3, ../sass/content/_mobile.scss */
.content {
  border-bottom: 5px solid #e4e4e7;
  color: #372772;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
/* line 9, ../sass/content/_mobile.scss */
.content .standard-button {
  background: #372772;
  border: 1px solid #372772;
  color: #fff;
  line-height: .6;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
/* line 17, ../sass/content/_mobile.scss */
.content .standard-button:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #372772;
}
/* line 22, ../sass/content/_mobile.scss */
.content .standard--p + .content__subhead {
  padding-top: 10px;
  padding-top: 1rem;
}
/* line 26, ../sass/content/_mobile.scss */
.content .standard--p + .standard-button {
  margin-bottom: 5px;
  margin-bottom: .5rem;
  margin-top: 24px;
  margin-top: 2.4rem;
}

/* line 33, ../sass/content/_mobile.scss */
.content__container {
  height: 100%;
  margin: 0 auto;
  padding: 46px 25px 69px;
  padding: 4.6rem 2.5rem 6.9rem;
  position: relative;
  width: 100%;
}

/* line 41, ../sass/content/_mobile.scss */
.content__article {
  margin: 0 auto 44px;
  margin: 0 auto 4.4rem;
  position: relative;
}
/* line 46, ../sass/content/_mobile.scss */
.content__article sup {
  font-size: 25%;
  vertical-align: top;
}

/* line 51, ../sass/content/_mobile.scss */
.content__header {
  border-top: 2px solid #372772;
  padding-top: 27px;
  padding-top: 2.7rem;
}

/* line 56, ../sass/content/_mobile.scss */
.content__headline,
.content__subhead,
.content__table--zero tbody tr {
  color: #372772;
  font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

/* line 67, ../sass/content/_mobile.scss */
.content__headline {
  margin-bottom: 33px;
  margin-bottom: 3.3rem;
}

/* line 71, ../sass/content/_mobile.scss */
.content__subhead {
  font-family: "Trade Gothic Com Bold", Arial, sans-serif;
}

/* line 74, ../sass/content/_mobile.scss */
.content__outro {
  background: #e4e4e7;
  padding: 15px 25px 1px;
  padding: 1.5rem 2.5rem .1rem;
  margin-bottom: 0;
}
/* line 80, ../sass/content/_mobile.scss */
.content__outro .content__headline {
  line-height: 1.8;
  margin-bottom: 0;
  margin-top: -5px;
  margin-top: -.5rem;
}

/* line 87, ../sass/content/_mobile.scss */
.content__subhead,
.content__table--zero tbody tr {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  text-transform: none;
}

/* line 97, ../sass/content/_mobile.scss */
.content__table--intelligence {
  color: #372772;
  font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
  letter-spacing: 0.05em;
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
}
/* line 104, ../sass/content/_mobile.scss */
.content__table--intelligence thead tr {
  height: 60px;
  height: 6rem;
  vertical-align: top;
}
/* line 109, ../sass/content/_mobile.scss */
.content__table--intelligence th {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  width: 30%;
}
/* line 116, ../sass/content/_mobile.scss */
.content__table--intelligence th:nth-child(2) {
  color: #787583;
  width: 40%;
}
/* line 120, ../sass/content/_mobile.scss */
.content__table--intelligence tbody tr {
  height: 94px;
  height: 9.4rem;
  vertical-align: top;
}
/* line 125, ../sass/content/_mobile.scss */
.content__table--intelligence tbody tr + tr {
  height: auto;
}
/* line 128, ../sass/content/_mobile.scss */
.content__table--intelligence td:first-child {
  border-right: 1px solid #787583;
  font-size: 12px;
  font-size: 1.2rem;
  padding-right: 20px;
  padding-right: 2rem;
}
/* line 135, ../sass/content/_mobile.scss */
.content__table--intelligence td:nth-child(2) {
  border-right: 1px solid #787583;
  color: #787583;
}
/* line 139, ../sass/content/_mobile.scss */
.content__table--intelligence td:nth-child(n + 2) {
  font-size: 16px;
  font-size: 1.6rem;
  padding-top: 16px;
  padding-top: 1.6rem;
  text-align: center;
}

/* line 147, ../sass/content/_mobile.scss */
.content__table--zero {
  color: #372772;
  margin-top: 59px;
  margin-top: 5.9rem;
}
/* line 152, ../sass/content/_mobile.scss */
.content__table--zero thead {
  display: none;
}
/* line 155, ../sass/content/_mobile.scss */
.content__table--zero th {
  font-weight: 400;
}
/* line 158, ../sass/content/_mobile.scss */
.content__table--zero tbody tr {
  border-bottom: 1px solid #e4e4e7;
  display: block;
  margin-bottom: 52px;
  margin-bottom: 5.2rem;
  padding-bottom: 50px;
  padding-bottom: 5rem;
  position: relative;
}
/* line 167, ../sass/content/_mobile.scss */
.content__table--zero tbody tr:last-of-type {
  border-bottom: none;
  margin-bottom: 5px;
  margin-bottom: .5rem;
  padding-bottom: 0;
}
/* line 173, ../sass/content/_mobile.scss */
.content__table--zero tbody tr::after {
  content: 'The Rule';
  color: #372772;
  left: 0;
  position: absolute;
  top: -26px;
  top: -2.6rem;
}
/* line 181, ../sass/content/_mobile.scss */
.content__table--zero td {
  display: block;
}
/* line 184, ../sass/content/_mobile.scss */
.content__table--zero td:first-child {
  color: #787583;
}

/* line 188, ../sass/content/_mobile.scss */
.content__table--logo {
  display: none;
}

/* line 191, ../sass/content/_mobile.scss */
.content__table--small-print {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: -10px;
  margin-top: -1rem;
}

/* line 198, ../sass/content/_mobile.scss */
.content__footer {
  color: #787583;
  font-family: "Trade Gothic Com", Arial, sans-serif;
  font-size: 8px;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  line-height: 1.7;
}
/* line 206, ../sass/content/_mobile.scss */
.content__footer sup {
  font-size: 8px;
}

/* line 210, ../sass/content/_mobile.scss */
.content__list {
  list-style: none;
}
/* line 213, ../sass/content/_mobile.scss */
.content__list .standard--p {
  margin-bottom: 7px;
  margin-bottom: .7rem;
}

/* line 223, ../sass/content/_mobile.scss */
.intelligence .content__problem,
.zero .content__problem {
  padding-bottom: 10px;
  padding-bottom: 1rem;
}

/* line 229, ../sass/content/_mobile.scss */
.zero .content__container {
  padding-bottom: 0;
}
/* line 232, ../sass/content/_mobile.scss */
.zero .content__article:last-of-type {
  margin-bottom: 36px;
  margin-bottom: 3.6rem;
}
/* line 236, ../sass/content/_mobile.scss */
.zero .content__list--section {
  float: left;
}
/* line 239, ../sass/content/_mobile.scss */
.zero .content__list--section:last-of-type {
  float: right;
  margin-bottom: 55px;
  margin-bottom: 5.5rem;
}
/* line 244, ../sass/content/_mobile.scss */
.zero .content__footer {
  clear: both;
}

@media screen and (min-width: 48em) {
  /* line 3, ../sass/all/_desktop.scss */
  .standard-button {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 15px 18px 13px;
    padding: 1.5rem 1.8rem 1.3rem;
    -webkit-transition: background .1s ease-in, color .1s ease-in;
    transition: background .1s ease-in, color .1s ease-in;
  }

  /* line 13, ../sass/all/_desktop.scss */
  .standard-button--arrow {
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 17, ../sass/all/_desktop.scss */
  .standard-button:hover {
    background: #372772;
    color: #fff;
  }

  /* line 24, ../sass/all/_desktop.scss */
  .standard--p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
  }

  /* line 3, ../sass/nav/_desktop.scss */
  .top-nav {
    background: #372772;
    border-bottom: 1px solid #59507b;
    height: 100px;
    height: 10rem;
    position: relative;
  }

  /* line 10, ../sass/nav/_desktop.scss */
  .top-nav__container {
    margin: 0 auto;
    max-width: 1010px;
    max-width: 101rem;
  }

  /* line 15, ../sass/nav/_desktop.scss */
  .top-nav__banner {
    border-bottom: 0;
    display: inline-block;
    margin-left: -145px;
    margin-left: -14.5rem;
    width: 80px;
    width: 8rem;
  }

  /* line 23, ../sass/nav/_desktop.scss */
  .top-nav__banner--link > svg {
    height: 50px;
    height: 5rem;
    left: 0;
    top: 23px;
    top: 2.3rem;
    width: 78px;
    width: 7.8rem;
  }

  /* line 32, ../sass/nav/_desktop.scss */
  .top-nav__close-btn {
    display: none;
  }

  /* line 35, ../sass/nav/_desktop.scss */
  .top-nav__links {
    display: inline-block;
    padding-top: 56px;
    padding-top: 5.6rem;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: none;
    transition: none;
    vertical-align: top;
    z-index: 11;
  }

  /* line 46, ../sass/nav/_desktop.scss */
  .top-nav__link,
  .top-nav__header,
  .top-nav__link-container {
    border-bottom: none;
    display: inline-block;
    font-size: 15px;
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    margin: 0 0 0 60px;
    margin: 0 0 0 6rem;
    padding: 0;
    position: relative;
  }

  /* line 59, ../sass/nav/_desktop.scss */
  .top-nav__header {
    cursor: pointer;
    margin-left: 0;
    z-index: 3;
  }

  /* line 64, ../sass/nav/_desktop.scss */
  .top-nav__link:first-of-type {
    padding: 0;
    margin-left: 64px;
    margin-left: 6.4rem;
  }

  /* line 69, ../sass/nav/_desktop.scss */
  .top-nav__link--sublink {
    background: #372772;
    border-bottom: none;
    font-family: "Trade Gothic Com Bold", Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    left: -99999em;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 47px 36px 20px;
    padding: 4.7rem 3.6rem 2rem;
    position: absolute;
    top: 16px;
    top: 1.6rem;
    width: 187px;
    width: 18.7rem;
    z-index: 2;
  }

  /* line 87, ../sass/nav/_desktop.scss */
  .top-nav__link--sublink:nth-child(3) {
    padding-bottom: 36px;
    padding-bottom: 3.6rem;
    padding-top: 29px;
    padding-top: 2.9rem;
    top: 84px;
    top: 8.4rem;
    z-index: 1;
  }

  /* line 96, ../sass/nav/_desktop.scss */
  .top-nav__link--sublink:focus,
  .top-nav__link-container:focus .top-nav__link--sublink,
  .top-nav__link-container:hover .top-nav__link--sublink {
    left: -14px;
    left: -1.4rem;
  }

  /* line 102, ../sass/nav/_desktop.scss */
  .top-nav__header,
  .top-nav__link,
  .top-nav__link--sublink {
    outline: none;
  }

  /* line 107, ../sass/nav/_desktop.scss */
  .about .top-nav__link:first-child::after,
  .intelligence .top-nav__header::after,
  .zero .top-nav__header::after,
  .news .top-nav__link:nth-child(3)::after,
  .contact .top-nav__link:last-child::after,
  .top-nav__header:hover::after,
  .top-nav__link:hover::after,
  .top-nav__link--sublink:hover::after {
    background: #fff;
    bottom: -6px;
    bottom: -.6rem;
    content: '';
    height: 2px;
    height: .2rem;
    left: 0;
    position: absolute;
    width: 95%;
  }

  /* line 125, ../sass/nav/_desktop.scss */
  .top-nav__link--sublink:hover::after {
    bottom: 13px;
    bottom: 1.3rem;
    left: 36px;
    left: 3.6rem;
    width: 53%;
  }

  /* line 132, ../sass/nav/_desktop.scss */
  .top-nav__link--sublink:nth-child(3):hover::after {
    bottom: 29px;
    bottom: 2.9rem;
    width: 56%;
  }

  /* line 137, ../sass/nav/_desktop.scss */
  .top-nav__login-btn {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    line-height: 1;
    padding: 11px 7px 8px 11px;
    padding: 1.1rem .7rem .8rem 1.1rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 48px;
    top: 4.8rem;
    -webkit-transition: background .1s ease-in, color .1s ease-in;
    transition: background .1s ease-in, color .1s ease-in;
  }

  /* line 159, ../sass/nav/_desktop.scss */
  .top-nav__login-btn:hover {
    background: #fff;
    color: #372772;
  }

  @-webkit-keyframes hover-jump {
    0%, 10%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
    }
    20% {
      -webkit-transform: translateY(10px);
      -webkit-transform: translateY(1rem);
    }
    100% {
      -webkit-transform: translateY(0);
    }
  }
  @keyframes hover-jump {
    0%, 10%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(10px);
      transform: translateY(1rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  /* line 29, ../sass/hero/_desktop.scss */
  .hero {
    background-size: cover;
    height: 585px;
    height: 58.5rem;
    padding-bottom: 60px;
    padding-bottom: 6rem;
    padding-top: 36px;
    padding-top: 3.6rem;
    text-align: left;
  }

  /* line 39, ../sass/hero/_desktop.scss */
  .hero__container {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 1010px;
    max-width: 101rem;
  }

  /* line 46, ../sass/hero/_desktop.scss */
  .hero__header {
    margin: 0 0 28px;
    margin: 0 0 2.8rem;
  }

  /* line 50, ../sass/hero/_desktop.scss */
  .hero__headline {
    font-size: 60px;
    font-size: 6rem;
    letter-spacing: 0.05em;
    line-height: 72px;
    line-height: 7.2rem;
  }

  /* line 56, ../sass/hero/_desktop.scss */
  .hero__p {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    margin-bottom: 48px;
    margin-bottom: 4.8rem;
    max-width: 440px;
    max-width: 44rem;
    padding: 0;
    width: 100%;
  }

  /* line 67, ../sass/hero/_desktop.scss */
  .hero__p--sup {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.8;
  }

  /* line 72, ../sass/hero/_desktop.scss */
  .hero__list--item {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 7px;
    margin-bottom: .7rem;
  }

  /* line 78, ../sass/hero/_desktop.scss */
  .hero__jump-btn {
    background: transparent;
    bottom: -19px;
    bottom: -1.9rem;
    color: #fff;
    cursor: pointer;
    display: block;
    left: 50%;
    margin-left: -80px;
    margin-left: -8rem;
    padding: 0;
    position: absolute;
    transition: none;
    width: 160px;
    width: 16rem;
  }

  /* line 94, ../sass/hero/_desktop.scss */
  .hero__jump-btn--header {
    display: block;
  }

  /* line 97, ../sass/hero/_desktop.scss */
  .hero__jump-btn svg {
    display: block;
    margin: 19px auto 0;
    margin: 1.9rem auto 0;
    width: 41px;
    width: 4.1rem;
  }

  /* line 104, ../sass/hero/_desktop.scss */
  .hero__jump-btn:hover {
    background: transparent;
  }

  /* line 107, ../sass/hero/_desktop.scss */
  .hero__jump-btn:hover .hero__jump-btn--header {
    -webkit-animation: hover-jump 1s cubic-bezier(0, 0, 0.58, 1);
    animation: hover-jump 1s cubic-bezier(0, 0, 0.58, 1);
  }

  /* line 116, ../sass/hero/_desktop.scss */
  .intelligence .hero,
  .zero .hero {
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 60px;
    padding-top: 6rem;
    text-align: left;
  }
  /* line 123, ../sass/hero/_desktop.scss */
  .intelligence .hero__container,
  .zero .hero__container {
    padding-right: 0;
  }
  /* line 126, ../sass/hero/_desktop.scss */
  .intelligence .hero__header,
  .zero .hero__header {
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
  }
  /* line 130, ../sass/hero/_desktop.scss */
  .intelligence .hero__headline,
  .zero .hero__headline {
    line-height: 73px;
    line-height: 7.3rem;
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
  }
  /* line 136, ../sass/hero/_desktop.scss */
  .intelligence .hero__headline--sup,
  .zero .hero__headline--sup {
    font-size: 20px;
    font-size: 2rem;
  }
  /* line 140, ../sass/hero/_desktop.scss */
  .intelligence .hero__subhead,
  .zero .hero__subhead {
    font-size: 30px;
    font-size: 3rem;
    letter-spacing: 0.3em;
  }
  /* line 145, ../sass/hero/_desktop.scss */
  .intelligence .hero__list,
  .zero .hero__list {
    padding-left: 0;
  }

  /* line 3, ../sass/testimonials/_desktop.scss */
  .testimonials,
  .testimonials__container {
    height: 100%;
    min-height: 275px;
    min-height: 27.5rem;
  }

  /* line 9, ../sass/testimonials/_desktop.scss */
  .testimonials__container {
    margin: 0 auto;
    max-width: 1140px;
    max-width: 114rem;
    position: relative;
    width: 100%;
  }

  /* line 16, ../sass/testimonials/_desktop.scss */
  .testimonials__testimonial {
    margin-top: 33px;
    margin-top: 3.3rem;
  }

  /* line 20, ../sass/testimonials/_desktop.scss */
  .testimonials__quote {
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.3;
    margin-bottom: 40px;
    margin-bottom: 4rem;
    padding-bottom: 29px;
    padding-bottom: 2.9rem;
  }

  /* line 29, ../sass/testimonials/_desktop.scss */
  .testimonials__footer,
  .testimonials__byline {
    font-size: 14px;
    font-size: 1.4rem;
  }

  /* line 34, ../sass/testimonials/_desktop.scss */
  .testimonials__byline {
    margin-bottom: 10px;
    margin-bottom: 1rem;
  }

  /* line 38, ../sass/testimonials/_desktop.scss */
  .testimonials__breadcrumb {
    display: none;
  }

  /* line 41, ../sass/testimonials/_desktop.scss */
  .testimonials__arrow--left,
  .testimonials__arrow--right {
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    height: 40px;
    height: 4rem;
    left: 0;
    position: absolute;
    top: 120px;
    top: 12rem;
    width: 15px;
    width: 1.5rem;
  }

  /* line 56, ../sass/testimonials/_desktop.scss */
  .testimonials__arrow--left svg,
  .testimonials__arrow--right svg {
    height: 40px;
    height: 4rem;
  }

  /* line 61, ../sass/testimonials/_desktop.scss */
  .testimonials__arrow--right {
    left: auto;
    right: 0;
  }

  /* line 3, ../sass/solutions/_desktop.scss */
  .solutions {
    padding-bottom: 19px;
    padding-bottom: 1.9rem;
    padding-top: 74px;
    padding-top: 7.4rem;
  }
  /* line 9, ../sass/solutions/_desktop.scss */
  .solutions .standard-button {
    border: 1px solid #372772;
    display: block;
    height: 45px;
    height: 4.5rem;
    line-height: .8;
    width: 200px;
    width: 20rem;
  }
  /* line 18, ../sass/solutions/_desktop.scss */
  .solutions .standard-button:hover {
    border: 1px solid #fff;
  }

  /* line 22, ../sass/solutions/_desktop.scss */
  .solutions__container {
    margin: 0 auto;
    max-width: 1010px;
    max-width: 101rem;
    position: relative;
  }

  /* line 28, ../sass/solutions/_desktop.scss */
  .solutions__type {
    border-bottom: none;
    display: inline-block;
    margin-left: -20px;
    margin-left: -2rem;
    max-width: 52%;
    padding-bottom: 0;
    padding-right: 30px;
    padding-right: 3rem;
  }

  /* line 38, ../sass/solutions/_desktop.scss */
  .solutions__type:last-child {
    left: 56%;
    max-width: 100%;
    padding-left: 90px;
    padding-left: 9rem;
    padding-right: 0;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 63%;
  }

  /* line 49, ../sass/solutions/_desktop.scss */
  .solutions__type::after {
    background: #e4e4e7;
    content: '';
    height: 134%;
    position: absolute;
    right: 0;
    top: -64px;
    top: -6.4rem;
    width: 1px;
  }

  /* line 59, ../sass/solutions/_desktop.scss */
  .solutions__type:last-child::after {
    display: none;
  }

  /* line 62, ../sass/solutions/_desktop.scss */
  .solutions__headline {
    font-size: 48px;
    font-size: 4.8rem;
    margin-bottom: 27px;
    margin-bottom: 2.7rem;
  }

  /* line 68, ../sass/solutions/_desktop.scss */
  .solutions__headline--sup {
    line-height: 2.3;
  }

  /* line 71, ../sass/solutions/_desktop.scss */
  .solutions__headline--subhead {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: 0.3em;
    line-height: 2.2;
  }

  /* line 77, ../sass/solutions/_desktop.scss */
  .solutions__list {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
    margin-bottom: 40px;
    margin-bottom: 4rem;
  }

  /* line 85, ../sass/solutions/_desktop.scss */
  .solutions__type:last-child .solutions__list {
    margin-bottom: 66px;
    margin-bottom: 6.6rem;
  }

  /* line 89, ../sass/solutions/_desktop.scss */
  .solutions__list--item {
    margin-bottom: 23px;
    margin-bottom: 2.3rem;
  }

  /* line 98, ../sass/solutions/_desktop.scss */
  .intelligence .solutions,
  .zero .solutions {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 17px;
    padding-bottom: 1.7rem;
    padding-top: 66px;
    padding-top: 6.6rem;
  }
  /* line 106, ../sass/solutions/_desktop.scss */
  .intelligence .solutions .standard-button,
  .zero .solutions .standard-button {
    margin-left: 0;
  }
  /* line 110, ../sass/solutions/_desktop.scss */
  .intelligence .solutions__container,
  .zero .solutions__container {
    padding: 0;
    max-width: 1010px;
    max-width: 101rem;
  }
  /* line 115, ../sass/solutions/_desktop.scss */
  .intelligence .solutions__headline,
  .intelligence .solutions__type:last-child,
  .zero .solutions__headline,
  .zero .solutions__type:last-child {
    height: auto;
    left: auto;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 100%;
    padding-left: 0;
    position: relative;
    width: 100%;
  }
  /* line 126, ../sass/solutions/_desktop.scss */
  .intelligence .solutions__headline,
  .zero .solutions__headline {
    margin-bottom: 34px;
    margin-bottom: 3.4rem;
  }
  /* line 130, ../sass/solutions/_desktop.scss */
  .intelligence .solutions__list,
  .zero .solutions__list {
    margin-top: 15px;
    margin-top: 1.5rem;
  }

  /* line 137, ../sass/solutions/_desktop.scss */
  .zero .solutions {
    padding-bottom: 73px;
    padding-bottom: 7.3rem;
  }

  /* line 3, ../sass/footer/_desktop.scss */
  .footer {
    padding-top: 48px;
    padding-top: 4.8rem;
  }

  /* line 7, ../sass/footer/_desktop.scss */
  .footer__container {
    margin: 0 auto;
    max-width: 1010px;
    max-width: 101rem;
    position: relative;
  }

  /* line 13, ../sass/footer/_desktop.scss */
  .footer__contact {
    float: right;
    margin-bottom: 0;
    width: 72%;
  }

  /* line 18, ../sass/footer/_desktop.scss */
  .footer__info {
    display: inline-block;
    margin-right: 175px;
    margin-right: 17.5rem;
    position: relative;
  }

  /* line 24, ../sass/footer/_desktop.scss */
  .footer__info:nth-child(2) {
    margin-right: 120px;
    margin-right: 12rem;
  }

  /* line 28, ../sass/footer/_desktop.scss */
  .footer__info:last-child {
    margin-right: 0;
  }

  /* line 31, ../sass/footer/_desktop.scss */
  .footer__header,
  .footer__p,
  .footer__logo .footer__p {
    font-size: 14px;
    font-size: 1.4rem;
  }

  /* line 37, ../sass/footer/_desktop.scss */
  .footer__logo {
    float: left;
    margin-left: -145px;
    margin-left: -14.5rem;
    width: 280px;
    width: 28rem;
  }
  /* line 44, ../sass/footer/_desktop.scss */
  .footer__logo .footer__p {
    margin-left: 146px;
    margin-left: 14.6rem;
  }
  /* line 49, ../sass/footer/_desktop.scss */
  .footer__logo svg {
    margin-top: 10px;
    margin-top: 1rem;
  }

  /* line 54, ../sass/footer/_desktop.scss */
  .footer__copyright {
    clear: both;
    font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
    font-size: 10px;
    font-size: 1rem;
    margin-left: 0;
  }

  /* line 61, ../sass/footer/_desktop.scss */
  .footer__copyright--patent {
    display: inline;
    margin-right: 6px;
    margin-right: .6rem;
  }

  /* line 3, ../sass/splash/_desktop.scss */
  .splash {
    margin-top: 0;
    padding-bottom: 366px;
    padding-bottom: 36.6rem;
    padding-top: 74px;
    padding-top: 7.4rem;
  }

  /* line 10, ../sass/splash/_desktop.scss */
  .splash__container {
    margin: 0 auto;
    max-width: 1010px;
    max-width: 101rem;
  }

  /* line 15, ../sass/splash/_desktop.scss */
  .splash__header {
    font-size: 60px;
    font-size: 6rem;
    margin-bottom: 59px;
    margin-bottom: 5.9rem;
    width: 70%;
  }

  /* line 22, ../sass/splash/_desktop.scss */
  .splash__headline {
    margin-bottom: 39px;
    margin-bottom: 3.9rem;
  }

  /* line 26, ../sass/splash/_desktop.scss */
  .splash__subhead {
    font-size: 30px;
    font-size: 3rem;
    letter-spacing: 0.3em;
    line-height: 1.65;
  }

  /* line 32, ../sass/splash/_desktop.scss */
  .splash__p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 2.1;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
    max-width: 850px;
    max-width: 85rem;
  }
  /* line 41, ../sass/splash/_desktop.scss */
  .splash__p a::after {
    bottom: -5px;
    bottom: -.5rem;
    -webkit-transition: bottom .2s ease-in;
    transition: bottom .2s ease-in;
  }
  /* line 48, ../sass/splash/_desktop.scss */
  .splash__p a:hover::after {
    bottom: 0;
  }

  /* line 56, ../sass/splash/_desktop.scss */
  .news .splash {
    padding-bottom: 165px;
    padding-bottom: 16.5rem;
  }
  /* line 60, ../sass/splash/_desktop.scss */
  .news .splash__article--container {
    display: inline-block;
    max-width: 770px;
    max-width: 77rem;
  }
  /* line 65, ../sass/splash/_desktop.scss */
  .news .splash__header {
    margin-bottom: 69px;
    margin-bottom: 6.9rem;
  }
  /* line 69, ../sass/splash/_desktop.scss */
  .news p,
  .news .splash__p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 2;
  }

  /* line 3, ../sass/splash/newsroom/_desktop.scss */
  .splash__article {
    border-top: 2px solid #372772;
    padding: 44px 0 74px;
    padding: 4.4rem 0 7.4rem;
  }
  /* line 8, ../sass/splash/newsroom/_desktop.scss */
  .splash__article .standard-button {
    font-size: 18px;
    font-size: 1.8rem;
  }
  /* line 12, ../sass/splash/newsroom/_desktop.scss */
  .splash__article .standard-button:hover {
    background: transparent;
    color: #372772;
  }

  /* line 18, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--header img {
    margin-bottom: 40px;
    margin-bottom: 4rem;
  }

  /* line 23, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--timestamp {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: .2em;
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
  }

  /* line 30, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--headline {
    font-size: 36px;
    font-size: 3.6rem;
  }

  /* line 34, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--load-more-btn {
    border: 1px solid #372772;
    margin-top: 2px;
    margin-top: .2rem;
  }

  /* line 39, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--load-more-btn:hover {
    background: #fff;
    color: #372772;
  }

  /* line 43, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--nav {
    display: block;
    position: absolute;
    right: -28px;
    right: -2.8rem;
    top: 41px;
    top: 4.1rem;
  }
  /* line 51, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--nav h3,
  .splash__article--nav a {
    color: #372772;
    font-family: "Trade Gothic Com Bold", Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: .3em;
    text-transform: uppercase;
  }
  /* line 60, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--nav h3 {
    margin-bottom: 19px;
    margin-bottom: 1.9rem;
  }
  /* line 64, ../sass/splash/newsroom/_desktop.scss */
  .splash__article--nav a {
    color: #787583;
    display: block;
    line-height: 1.9;
  }

  /* line 3, ../sass/content/_desktop.scss */
  .content {
    border-bottom: none;
  }
  /* line 6, ../sass/content/_desktop.scss */
  .content .standard-button {
    border: 1px solid #372772;
    display: block;
    height: 43px;
    height: 4.3rem;
    margin: 56px auto 96px;
    margin: 5.6rem auto 9.6rem;
    width: 210px;
    width: 21rem;
  }
  /* line 16, ../sass/content/_desktop.scss */
  .content .standard-button:hover {
    background: #fff;
    border: 1px solid #372772;
  }

  /* line 21, ../sass/content/_desktop.scss */
  .content__container {
    max-width: 1010px;
    max-width: 101rem;
    padding: 100px 0;
    padding: 10rem 0;
  }

  /* line 27, ../sass/content/_desktop.scss */
  .content__article {
    margin-bottom: 71px;
    margin-bottom: 7.1rem;
  }

  /* line 31, ../sass/content/_desktop.scss */
  .content__header {
    padding-top: 51px;
    padding-top: 5.1rem;
  }

  /* line 35, ../sass/content/_desktop.scss */
  .content__headline {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 60px;
    margin-bottom: 6rem;
  }

  /* line 42, ../sass/content/_desktop.scss */
  .content__outro .content__headline {
    height: 52px;
    height: 5.2rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 1010px;
    max-width: 101rem;
  }

  /* line 51, ../sass/content/_desktop.scss */
  .content__subhead,
  .content__table--zero tbody tr {
    font-size: 22px;
    font-size: 2.2rem;
  }

  /* line 57, ../sass/content/_desktop.scss */
  .content__problem {
    display: inline-block;
    padding-right: 30px;
    padding-right: 3rem;
    position: relative;
    vertical-align: top;
    width: 49%;
  }

  /* line 65, ../sass/content/_desktop.scss */
  .content__problem:last-of-type {
    padding-left: 30px;
    padding-left: 3rem;
    padding-right: 0;
  }

  /* line 70, ../sass/content/_desktop.scss */
  .content__table--intelligence {
    font-family: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
    margin-bottom: 54px;
    margin-bottom: 5.4rem;
    width: 100%;
  }
  /* line 76, ../sass/content/_desktop.scss */
  .content__table--intelligence th {
    font-size: 22px;
    font-size: 2.2rem;
    width: 29.5%;
  }
  /* line 81, ../sass/content/_desktop.scss */
  .content__table--intelligence th:nth-child(2),
  .content__table--intelligence th:last-child {
    line-height: 1.7;
    padding: 0 50px 30px 8.5%;
    padding: 0 5rem 3rem 8.5%;
    text-align: left;
    width: 26%;
  }
  /* line 89, ../sass/content/_desktop.scss */
  .content__table--intelligence th:last-child {
    padding-top: 8px;
    padding-top: .8rem;
    width: 44.5%;
  }
  /* line 94, ../sass/content/_desktop.scss */
  .content__table--intelligence td:first-child {
    font-size: 22px;
    font-size: 2.2rem;
  }
  /* line 98, ../sass/content/_desktop.scss */
  .content__table--intelligence td:nth-child(n + 2) {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 0;
    padding-left: 8.5%;
    text-align: left;
  }
  /* line 105, ../sass/content/_desktop.scss */
  .content__table--intelligence td:nth-child(2) {
    font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
  }

  /* line 109, ../sass/content/_desktop.scss */
  .content__table--zero {
    color: #372772;
    margin-bottom: 89px;
    margin-bottom: 8.9rem;
    margin-top: 59px;
    margin-top: 5.9rem;
    width: 100%;
  }
  /* line 117, ../sass/content/_desktop.scss */
  .content__table--zero thead {
    border-bottom: 1px solid #372772;
    display: table-header-group;
  }
  /* line 121, ../sass/content/_desktop.scss */
  .content__table--zero th {
    display: table-cell;
    font-family: "Trade Gothic Com Bold", Arial, sans-serif;
    font-size: 22px;
    font-size: 2.2rem;
    max-width: 50%;
    padding-bottom: 10px;
    padding-bottom: 1rem;
    text-align: left;
  }
  /* line 131, ../sass/content/_desktop.scss */
  .content__table--zero tbody {
    display: table-row-group;
  }
  /* line 134, ../sass/content/_desktop.scss */
  .content__table--zero tbody tr {
    border-bottom: none;
    display: table-row;
  }
  /* line 138, ../sass/content/_desktop.scss */
  .content__table--zero tbody tr:last-of-type {
    border-bottom: none;
  }
  /* line 141, ../sass/content/_desktop.scss */
  .content__table--zero tbody tr::after {
    display: none;
  }
  /* line 144, ../sass/content/_desktop.scss */
  .content__table--zero td {
    display: table-cell;
    padding-top: 37px;
    padding-top: 3.7rem;
    vertical-align: baseline;
  }
  /* line 150, ../sass/content/_desktop.scss */
  .content__table--zero tbody tr:first-of-type td {
    padding-top: 47px;
    padding-top: 4.7rem;
  }
  /* line 154, ../sass/content/_desktop.scss */
  .content__table--zero tbody tr:first-of-type td:first-child {
    padding-right: 125px;
    padding-right: 12.5rem;
  }
  /* line 158, ../sass/content/_desktop.scss */
  .content__table--zero tr td:first-child {
    padding-right: 23px;
    padding-right: 2.3rem;
    width: 490px;
    width: 49rem;
  }
  /* line 164, ../sass/content/_desktop.scss */
  .content__table--zero th + th,
  .content__table--zero td + td {
    padding-left: 2.3rem;
  }
  /* line 168, ../sass/content/_desktop.scss */
  .content__table--zero td + td {
    font-family: "Trade Gothic Com Bold", Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
  }

  /* line 174, ../sass/content/_desktop.scss */
  .content__table--logo {
    display: block;
    float: left;
    width: 88px;
    width: 8.8rem;
  }

  /* line 180, ../sass/content/_desktop.scss */
  .content__table--logo-span {
    display: inline-block;
    letter-spacing: 0.3em;
    line-height: 1.3;
    padding-left: 15px;
    padding-left: 1.5rem;
    text-transform: uppercase;
    vertical-align: top;
    width: 60%;
  }

  /* line 190, ../sass/content/_desktop.scss */
  .content__table--small-print {
    display: inline;
    font-family: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
    font-size: 36px;
    font-size: 3.6rem;
    padding-right: 10px;
    padding-right: 1rem;
  }

  /* line 198, ../sass/content/_desktop.scss */
  .content__footer {
    font-size: 11px;
    font-size: 1.1rem;
    margin-bottom: 92px;
    margin-bottom: 9.2rem;
    max-width: 400px;
    max-width: 40rem;
  }

  /* line 210, ../sass/content/_desktop.scss */
  .zero .content__subhead,
  .zero .standard--p {
    max-width: 715px;
    max-width: 71.5rem;
  }
  /* line 215, ../sass/content/_desktop.scss */
  .zero .solutions__type:last-child .solutions__list {
    margin-bottom: 0;
    margin-left: 3px;
    margin-left: .3rem;
    width: 120%;
  }
  /* line 221, ../sass/content/_desktop.scss */
  .zero .content__list--section {
    width: 49.5%;
  }
  /* line 224, ../sass/content/_desktop.scss */
  .zero .content__list--section:last-of-type {
    float: left;
    margin-bottom: 98px;
    margin-bottom: 9.8rem;
  }
  /* line 229, ../sass/content/_desktop.scss */
  .zero .content__list {
    float: left;
    width: 49.5%;
  }
  /* line 233, ../sass/content/_desktop.scss */
  .zero .content__footer {
    max-width: 745px;
    max-width: 74.5rem;
  }
}
@media screen and (min-width: 48em) and (max-width: 70.99em) {
  /* line 3, ../sass/nav/_tablet.scss */
  .top-nav__container {
    max-width: 100%;
  }

  /* line 6, ../sass/nav/_tablet.scss */
  .top-nav__banner,
  .top-nav__link,
  .top-nav__link:first-of-type,
  .top-nav__link-container {
    margin-left: 30px;
    margin-left: 3rem;
  }

  /* line 13, ../sass/nav/_tablet.scss */
  .top-nav__login-btn {
    right: 30px;
    right: 3rem;
  }

  /* line 17, ../sass/nav/_tablet.scss */
  .top-nav__login-btn:active {
    background: #fff;
    color: #372772;
  }

  /* line 21, ../sass/nav/_tablet.scss */
  .top-nav__link:active,
  .top-nav__link--sublink:active {
    background: #fff;
    color: #372772;
  }

  /* line 3, ../sass/hero/_tablet.scss */
  .hero {
    padding: 50px 43px 0;
    padding: 5rem 4.3rem 0;
  }

  /* line 7, ../sass/hero/_tablet.scss */
  .hero__headline {
    font-size: 43px;
    font-size: 4.3rem;
    line-height: 55px;
    line-height: 5.5rem;
  }

  /* line 12, ../sass/hero/_tablet.scss */
  .hero__p {
    font-size: 16px;
    font-size: 1.6rem;
  }

  /* line 3, ../sass/testimonials/_tablet.scss */
  .testimonials__testimonial {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  /* line 8, ../sass/testimonials/_tablet.scss */
  .testimonials__quote {
    font-size: 38px;
    font-size: 3.8rem;
  }

  /* line 3, ../sass/solutions/_tablet.scss */
  .solutions {
    padding-left: 43px;
    padding-left: 4.3rem;
  }

  /* line 7, ../sass/solutions/_tablet.scss */
  .solutions__container {
    padding-right: 128px;
    padding-right: 12.8rem;
  }

  /* line 11, ../sass/solutions/_tablet.scss */
  .solutions__type {
    border-bottom: 2px solid #e4e4e7;
    display: block;
    max-width: 100%;
    padding-bottom: 55px;
    padding-bottom: 5.5rem;
    padding-right: 0;
  }

  /* line 19, ../sass/solutions/_tablet.scss */
  .solutions__type:last-child {
    left: 0;
    max-width: 100%;
    padding-bottom: 36px;
    padding-bottom: 3.6rem;
    padding-left: 0;
    position: relative;
  }

  /* line 27, ../sass/solutions/_tablet.scss */
  .solutions__type::after {
    display: none;
  }

  /* line 3, ../sass/content/_tablet.scss */
  .content__container {
    padding: 100px 43px;
    padding: 10rem 4.3rem;
  }

  /* line 7, ../sass/content/_tablet.scss */
  .content__outro {
    padding: 15px 43px 1px;
    padding: 1.5rem 4.3rem .1rem;
  }

  /* line 11, ../sass/content/_tablet.scss */
  .content__table--zero tr td:first-child {
    width: 50%;
  }

  /* line 3, ../sass/footer/_tablet.scss */
  .footer__contact {
    width: 75%;
  }

  /* line 6, ../sass/footer/_tablet.scss */
  .footer__info {
    margin-right: 35px;
    margin-right: 3.5rem;
  }

  /* line 10, ../sass/footer/_tablet.scss */
  .footer__info:nth-child(2) {
    margin-right: 30px;
    margin-right: 3rem;
  }

  /* line 14, ../sass/footer/_tablet.scss */
  .footer__logo {
    margin-left: 0;
    width: 130px;
    width: 13rem;
  }
  /* line 19, ../sass/footer/_tablet.scss */
  .footer__logo .footer__p,
  .footer__logo svg {
    margin-left: 0;
    margin-top: 0;
  }
  /* line 25, ../sass/footer/_tablet.scss */
  .footer__logo svg {
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
  }

  /* line 30, ../sass/footer/_tablet.scss */
  .footer__copyright {
    margin-left: 0;
  }
}
