// Font Variables
// ======

$medium: "Trade Gothic Com", Arial, sans-serif;
$bold: "Trade Gothic Com Bold", Arial, sans-serif;
$condensed: "Trade Gothic Com Condensed No. 18", Arial, sans-serif;
$bold-condensed: "Trade Gothic Com Bold Condensed No. 20", Arial, sans-serif;
