// Various Helper Mixins

// Sets tracking (letter-spacing)
@mixin tracking($track) {
  letter-spacing: $track / 1000 + em;
}

// Sets leading (line-height)
@mixin leading($lead, $mobile: desktop) {
  @if $mobile == mobile {
    line-height: round($lead / 3.0625) + px;
    line-height: ($lead / 3.0625) / 10 + rem;
  }
  @else {
    line-height: $lead + px;
    line-height: $lead / 10 + rem;
  }
}