// Desktop Solutions Section

.solutions {
  padding-bottom: 19px;
  padding-bottom: 1.9rem;
  padding-top: 74px;
  padding-top: 7.4rem;

  .standard-button {
    border: 1px solid $purple;
    display: block;
    height: 45px;
    height: 4.5rem;
    line-height: .8;
    width: 200px;
    width: 20rem;
  }
  .standard-button:hover {
    border: 1px solid #fff;
  }
}
.solutions__container {
  margin: 0 auto;
  max-width: 1010px;
  max-width: 101rem;
  position: relative;
}
.solutions__type {
  border-bottom: none;
  display: inline-block;
  margin-left: -20px;
  margin-left: -2rem;
  max-width: 52%;
  padding-bottom: 0;
  padding-right: 30px;
  padding-right: 3rem;
}
.solutions__type:last-child {
  left: 56%;
  max-width: 100%;
  padding-left: 90px;
  padding-left: 9rem;
  padding-right: 0;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 63%;

  .solutions__list--item {
    width: 78%;
  }
}
.solutions__type::after {
  background: $light-gray;
  content: '';
  height: 139%;
  position: absolute;
  right: 0;
  top: -76px;
  top: -7.6rem;
  width: 1px;
}
.solutions__type:last-child::after {
  display: none;
}
.solutions__headline {
  font-size: 48px;
  font-size: 4.8rem;
  margin-bottom: 51px;
  margin-bottom: 5.1rem;
}
.solutions__headline--sup {
  line-height: 2.3;
}
.solutions__headline--subhead {
  font-size: 18px;
  font-size: 1.8rem;
  @include tracking(300);
  line-height: 1.1;
}
.solutions__list {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 26px;
  line-height: 2.6rem;
  margin-bottom: 60px;
  margin-bottom: 6rem;
}
.solutions__type:last-child .solutions__list {
  margin-bottom: 86px;
  margin-bottom: 8.6rem;
}
.solutions__list--item {
  margin-bottom: 23px;
  margin-bottom: 2.3rem;
  width: 90%;
}

// Site-specific styles

.index {
  .solutions__list--item:nth-of-type(2) {
    width: 80%;
  }
}
.intelligence,
.zero {
  .solutions {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 17px;
    padding-bottom: 1.7rem;
    padding-top: 62px;
    padding-top: 6.2rem;

    .standard-button {
      bottom: -44px;
      bottom: -4.4rem;
      margin-left: 0;
    }
  }
  .solutions__container {
    padding: 0;
    max-width: 1010px;
    max-width: 101rem;
  }
  .solutions__headline,
  .solutions__type:last-child {
    height: auto;
    left: auto;
    margin-bottom: 0;
    margin-left: 0;
    max-width: 100%;
    padding-left: 0;
    position: relative;
    width: 100%;
  }
  .solutions__headline {
    margin-bottom: 34px;
    margin-bottom: 3.4rem;
  }
  .solutions__list {
    margin: 15px 0 40px;
    margin: 1.5rem 0 4rem;
    width: 105%;
  }
  .solutions__type:last-child .solutions__list--item {
    width: 100%;
  }
}
.zero {
  .solutions {
    padding-bottom: 73px;
    padding-bottom: 7.3rem;
  }
}