// Desktop Splash Pages

.splash {
  margin-top: 0;
  padding-bottom: 366px;
  padding-bottom: 36.6rem;
  padding-top: 74px;
  padding-top: 7.4rem;
}
.splash__container {
  margin: 0 auto;
  max-width: 850px;
  max-width: 85rem;
}
.splash__header {
  font-size: 60px;
  font-size: 6rem;
  margin-bottom: 59px;
  margin-bottom: 5.9rem;
  width: 70%;
}
.splash__headline {
  margin-bottom: 39px;
  margin-bottom: 3.9rem;
}
.splash__subhead {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.65;
}
.splash__p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.1;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;

  a::after {
    bottom: -5px;
    bottom: -.5rem;
    -webkit-transition: bottom .2s ease-in;
    transition: bottom .2s ease-in;
  }

  a:hover::after {
    bottom: 0;
  }
}