// Desktop Splash Pages

.splash {
  margin-top: 0;
  padding-bottom: 366px;
  padding-bottom: 36.6rem;
  padding-top: 74px;
  padding-top: 7.4rem;
}
.splash__container {
  margin: 0 auto;
  max-width: 1010px;
  max-width: 101rem;
}
.splash__header {
  font-size: 60px;
  font-size: 6rem;
  margin-bottom: 59px;
  margin-bottom: 5.9rem;
  width: 70%;
}
.splash__headline {
  margin-bottom: 39px;
  margin-bottom: 3.9rem;
}
.splash__subhead {
  font-size: 30px;
  font-size: 3rem;
  @include tracking(300);
  line-height: 1.65;
}
.splash__p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2.1;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
  max-width: 850px;
  max-width: 85rem;

  a::after {
    bottom: -5px;
    bottom: -.5rem;
    -webkit-transition: bottom .2s ease-in;
    transition: bottom .2s ease-in;
  }

  a:hover::after {
    bottom: 0;
  }
}

// Site-specific styles

.about {
  .splash__p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.9;
  }
}
@import "newsroom/desktop";
.news {
  .splash {
    padding-bottom: 165px;
    padding-bottom: 16.5rem;
  }
  .splash__article--container {
    display: inline-block;
    max-width: 770px;
    max-width: 77rem;
  }
  .splash__header {
    margin-bottom: 69px;
    margin-bottom: 6.9rem;
  }
  .splash__p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 2;
  }
}
.news-article {
  .splash__article {
    max-width: 715px;
    max-width: 71.5rem;
  }
}
.contact {
  .splash {
    padding-bottom: 205px;
    padding-bottom: 20.5rem;

    .splash__p {
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 1.9;
      margin-bottom: 17px;
      margin-bottom: 1.7rem;
      max-width: 500px;
      max-width: 50rem;
    }
    .splash__p:nth-child(3n) {
      margin-bottom: 10px;
      margin-bottom: 1rem;
      margin-top: -1px;
    }
    .splash__p:nth-child(3n + 1) {
      margin-bottom: 40px;
      margin-bottom: 4rem;
    }
    .splash__p--contact {
      font-size: 22px;
      font-size: 2.2rem;
      line-height: 1.3;
    }
  }
}