// Mobile Splash Pages

.splash {
  margin-top: 64px;
  margin-top: 6.4rem;
  -webkit-font-smoothing: antialiased;
  padding: 36px 43px 70px;
  padding: 3.6rem 4.3rem 7rem;
  position: relative;

  p,
  .splash__p {
    color: $cool-gray;
    font-family: $medium;
    font-size: m-px(44);
    font-size: m-rem(44);
    @include tracking(50);
    line-height: 1.8;
    margin-bottom: 16px;
    margin-bottom: 1.6rem;

    a {
      color: $purple;
      position: relative;
    }
    a::after {
      background: $purple;
      bottom: -2px;
      bottom: -.2rem;
      content: '';
      height: 1px;
      height: .1rem;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}
.splash__container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.splash__header {
  color: $purple;
  font-family: $bold-condensed;
  font-size: m-px(98);
  font-size: m-rem(98);
  @include tracking(50);
  line-height: 1;
  margin-bottom: 36px;
  margin-bottom: 3.6rem;
}
.splash__headline {
  font-weight: 400;
  margin-bottom: 17px;
  margin-bottom: 1.7rem;
}
.splash__subhead {
  font-size: 19px;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: .25em;
  line-height: 1.6;
  text-transform: uppercase;
}

// Site-specific styles

.news {
  .splash__header {
    margin-bottom: 38px;
    margin-bottom: 3.8rem;
  }
}
@import "newsroom/mobile";