// Desktop Footer

.footer {
  padding-top: 48px;
  padding-top: 4.8rem;
}
.footer__container {
  margin: 0 auto;
  max-width: 1010px;
  max-width: 101rem;
  position: relative;
}
.footer__contact {
  float: right;
  margin-bottom: 0;
  width: 72%;
}
.footer__info {
  display: inline-block;
  margin-right: 175px;
  margin-right: 17.5rem;
  position: relative;
}
.footer__info:nth-child(2) {
  margin-right: 120px;
  margin-right: 12rem;
}
.footer__info:last-child {
  margin-right: 0;
}
.footer__header,
.footer__p,
.footer__logo .footer__p {
  font-size: 14px;
  font-size: 1.4rem;
}
.footer__logo {
  float: left;
  margin-left: -145px;
  margin-left: -14.5rem;
  width: 280px;
  width: 28rem;

  .footer__p {
    line-height: 24px;
    line-height: 2.4rem;
    margin-left: 146px;
    margin-left: 14.6rem;
  }

  svg {
    margin-top: 8px;
    margin-top: .8rem;
  }
}

// Specificity to override other styles

.index,
.about,
.intelligence,
.zero,
.news,
.news.news-article,
.contact {
  .footer__copyright {
    clear: both;
    font-family: $condensed;
    font-size: 10px;
    font-size: 1rem;
    margin-left: 0;
  }
  .footer__copyright--patent {
    display: inline;
    margin-right: 6px;
    margin-right: .6rem;
  }
}