// Mobile Standard Buttons

.standard-button {
  background: #fff;
  color: $purple;
  cursor: pointer;
  font-family: $medium;
  font-size: m-px(34);
  font-size: m-rem(34);
  font-weight: 900;
  @include tracking(300);
  padding: 15px 18px 13px;
  padding: 1.5rem 1.8rem 1.3rem;
  text-align: center;
  text-transform: uppercase;
}
.standard-button--arrow {
  font-size: m-px(50);
  font-size: m-rem(50);
}
.standard-button:active {
  background: $purple;
  color: #fff;
}

// Mobile Standard Paragraphs

.standard--p {
  color: $cool-gray;
  font-family: $medium;
  font-size: m-px(44);
  font-size: m-rem(44);
  @include tracking(50);
  line-height: 1.7;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}

// Global SVG Colors

.st0 {
  fill: #372772;
}
.st1 {
  fill: #fff;
}
.st2 {
  fill: #787583;
}

// Body Modal Conditions

body.is-constrained {
  height: 120vh;
  overflow-y: hidden;
}