// Mobile Standard Buttons

.standard-button {
  background: #fff;
  color: $purple;
  font-family: $medium;
  font-size: m-px(34);
  font-size: m-rem(34);
  font-weight: 400;
  @include tracking(300);
  padding: 15px 18px 13px;
  padding: 1.5rem 1.8rem 1.3rem;
  text-align: center;
  text-transform: uppercase;
}
.standard-button--arrow {
  font-size: m-px(50);
  font-size: m-rem(50);
}
.standard-button:active {
  background: $purple;
  color: #fff;
}
.st0 {
  fill: #372772;
}
.st1 {
  fill: #fff;
}
.st2 {
  fill: #787583;
}