// Desktop Content Section

.content {
  border-bottom: none;

  .standard-button {
    border: 1px solid $purple;
    display: block;
    height: 43px;
    height: 4.3rem;
    margin: 56px auto 96px;
    margin: 5.6rem auto 9.6rem;
    width: 240px;
    width: 24rem;
  }
  .standard-button:hover {
    background: #fff;
    border: 1px solid $purple;
  }
}
.content__container {
  max-width: 1010px;
  max-width: 101rem;
  padding: 100px 0;
  padding: 10rem 0;
}
.content__article {
  margin-bottom: 71px;
  margin-bottom: 7.1rem;
}
.content__header {
  padding-top: 51px;
  padding-top: 5.1rem;
}
.content__headline {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 60px;
  margin-bottom: 6rem;
}
.content__outro {
  .content__headline {
    height: 52px;
    height: 5.2rem;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 1010px;
    max-width: 101rem;
  }
}
.content__subhead,
.content__table--zero tbody tr {
  font-size: 22px;
  font-size: 2.2rem;
}

.content__problem {
  display: inline-block;
  padding-right: 23px;
  padding-right: 2.3rem;
  position: relative;
  vertical-align: top;
  width: 49%;
}
.content__problem:last-of-type {
  padding-right: 0;
}
.content__table--intelligence {
  font-family: $bold-condensed;
  margin-bottom: 54px;
  margin-bottom: 5.4rem;
  width: 100%;

  th {
    font-size: 22px;
    font-size: 2.2rem;
    width: 32%;
  }
  th:nth-child(2),
  th:last-child {
    line-height: 1.7;
    padding: 0 50px 30px 8.5%;
    padding: 0 5rem 3rem 8.5%;
    text-align: left;
    width: 25%;
  }
  td:first-child {
    font-size: 22px;
    font-size: 2.2rem;
  }
  td:nth-child(n + 2) {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 0;
    padding-left: 8.5%;
    text-align: left;
  }
  td:nth-child(2) {
    font-family: $condensed;
  }

}
.content__table--zero {
  color: $purple;
  margin-bottom: 89px;
  margin-bottom: 8.9rem;
  margin-top: 59px;
  margin-top: 5.9rem;
  width: 100%;

  thead {
    border-bottom: 1px solid $purple;
    display: table-header-group;
  }
  th {
    display: table-cell;
    font-family: $bold;
    font-size: 22px;
    font-size: 2.2rem;
    max-width: 50%;
    padding-bottom: 10px;
    padding-bottom: 1rem;
    text-align: left;
  }
  tbody {
    display: table-row-group;
  }
  tbody tr {
    border-bottom: none;
    display: table-row;
  }
  tbody tr:last-of-type {
    border-bottom: none;
  }
  tbody tr::after {
    display: none;
  }
  td {
    display: table-cell;
    padding-top: 37px;
    padding-top: 3.7rem;
    vertical-align: top;
  }
  tbody tr:first-of-type td {
    padding-top: 47px;
    padding-top: 4.7rem;
  }
  tbody tr:first-of-type td:first-child {
    padding-right: 125px;
    padding-right: 12.5rem;
  }
  tr td:first-child {
    padding-right: 23px;
    padding-right: 2.3rem;
    width: 490px;
    width: 49rem;
  }
  th + th,
  td + td {
    padding-left: 2.3rem;
  }
}
.content__table--small-print {
  display: inline;
  font-family: $condensed;
  font-size: 36px;
  font-size: 3.6rem;
  padding-right: 10px;
  padding-right : 1rem;
}
.content__footer {
  font-size: 11px;
  font-size: 1.1rem;
  margin-bottom: 92px;
  margin-bottom: 9.2rem;
  max-width: 400px;
  max-width: 40rem;
}

// Site-specific styles

.zero {
  .content__subhead,
  .standard--p {
    max-width: 715px;
    max-width: 71.5rem;
  }
  .solutions__type:last-child .solutions__list {
    margin-bottom: 0;
    margin-left: 3px;
    margin-left: .3rem;
    width: 120%;
  }
  .content__list--section {
    width: 49.5%;
  }
  .content__list--section:last-of-type {
    float: left;
    margin-bottom: 98px;
    margin-bottom: 9.8rem;
  }
  .content__list {
    float: left;
    width: 49.5%;
  }
  .content__footer {
    max-width: 745px;
    max-width: 74.5rem;
  }
}