// Tablet Content Section

.content {
  .standard-button {
    width: 250px;
    width: 25rem;
  }
}
.content__container {
  padding: 100px 43px;
  padding: 10rem 4.3rem;
}
.content__outro {
  padding: 15px 43px 1px;
  padding: 1.5rem 4.3rem .1rem;
}
.content__table--zero tr td:first-child {
  width: 50%;
}
.content__table--logo {
  display: none;
}
.content__table--logo-span {
  padding-left: 0;
}

// Site-specific styles

.intelligence {
  .content__problem {
    width: 100%;
  }
  .content__problem:last-of-type {
    padding-left: 0;
  }
}