// Tablet Content Section

.content__container {
  padding: 100px 43px;
  padding: 10rem 4.3rem;
}
.content__outro {
  padding: 15px 43px 1px;
  padding: 1.5rem 4.3rem .1rem;
}
.content__table--zero tr td:first-child {
  width: 50%;
}