// Tablet Newsroom

.splash__article--nav {
  display: none;
}

// Article-specific styles
.news.news-article {
  .splash__article--header {
    img {
      margin-bottom: 0;
      max-width: 100%;
      width: 100%;
    }
  }
}