// Mobile Testimonials Section

.testimonials {
  background: #fff;
  color: $purple;
  -webkit-font-smoothing: antialiased;
  height: 283px;
  height: 28.3rem;
  padding: 40px;
  padding: 4rem;
  position: relative;
  text-align: center;
}
.testimonials__testimonial,
.testimonials__arrow--left,
.testimonials__arrow--right {
  position: relative;
}
.testimonials__arrow--left,
.testimonials__arrow--right {
  display: none;
}
.testimonials__testimonial {
  opacity: 0;
  left: 50%;
  margin-left: -50%;
  padding: 0 35px;
  padding: 0 3.5rem;
  position: absolute;
  top: 45px;
  top: 4.5rem;
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}
.testimonials__testimonial.is-visible {
  display: block;
}
.testimonials__testimonial.is-opaque {
  opacity: 1;
}
.testimonials__quote {
  font-family: $condensed;
  font-weight: 400;
  font-size: m-px(56);
  font-size: m-rem(56);
  @include tracking(50);
  line-height: 1.4;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  padding-bottom: 16px;
  padding-bottom: 1.6rem;
  position: relative;
}
.testimonials__footer {
  font-family: $condensed;
  font-size: m-px(36);
  font-size: m-rem(36);
  font-weight: 400;
  @include tracking(300);
  line-height: 1.4;
  margin-bottom: 38px;
  margin-bottom: 3.8rem;
  text-transform: uppercase;
}
.testimonials__byline {
  display: block;
  font-family: $bold-condensed;
  font-style: normal;
}
.testimonials__breadcrumb {
  bottom: 35px;
  bottom: 3.5rem;
  display: block;
  left: 50%;
  margin-left: -43px;
  margin-left: -4.3rem;
  position: absolute;
  width: 86px;
  width: 8.6rem;
}
.testimonials__crumb {
  background: $cool-gray;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  height: .5rem;
  margin-right: 16px;
  margin-right: 1.6rem;
  width: 5px;
  width: .5rem;
}
.testimonials__crumb:last-child {
  margin-right: 0;
}
.testimonials__crumb.is-active {
  background: $purple;
}