// Desktop Navigation

.top-nav {
  background: $purple;
  border-bottom: 1px solid #59507b;
  height: 100px;
  height: 10rem;
  position: relative;
}
.top-nav__container {
  margin: 0 auto;
  max-width: 1010px;
  max-width: 101rem;
}
.top-nav__banner {
  border-bottom: 0;
  display: inline-block;
  margin-left: -145px;
  margin-left: -14.5rem;
  width: 80px;
  width: 8rem;
}
.top-nav__banner--link > svg {
  height: 50px;
  height: 5rem;
  left: 0;
  top: 23px;
  top: 2.3rem;
  width: 78px;
  width: 7.8rem;
}
.top-nav__close-btn {
  display: none;
}
.top-nav__links {
  display: inline-block;
  padding-top: 56px;
  padding-top: 5.6rem;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: none;
  transition: none;
  vertical-align: top;
  z-index: 11;
}
.top-nav__link,
.top-nav__header,
.top-nav__link-container {
  border-bottom: none;
  display: inline-block;
  font-size: 15px;
  font-size: 1.5rem;
  @include tracking(300);
  margin: 0 0 0 60px;
  margin: 0 0 0 6rem;
  padding: 0;
  position: relative;
}
.top-nav__header {
  cursor: pointer;
  margin-left: 0;
  z-index: 3;
}
.top-nav__link:first-of-type {
  padding: 0;
  margin-left: 64px;
  margin-left: 6.4rem;
}
.top-nav__link--sublink {
  background: $purple;
  border-bottom: none;
  font-family: $bold;
  font-size: 14px;
  font-size: 1.4rem;
  left: -99999em;
  @include tracking(50);
  margin: 0;
  padding: 47px 36px 36px;
  padding: 4.7rem 3.6rem 3.6rem;
  position: absolute;
  top: 16px;
  top: 1.6rem;
  width: 187px;
  width: 18.7rem;
  z-index: 2;
}
.top-nav__link--sublink:nth-child(3) {
  padding-bottom: 36px;
  padding-bottom: 3.6rem;
  padding-top: 9px;
  padding-top: .9rem;
  top: 104px;
  top: 10.4rem;
  z-index: 1;
}
.top-nav__link--sublink:focus,
.top-nav__link-container:focus .top-nav__link--sublink,
.top-nav__link-container:hover .top-nav__link--sublink {
  left: -14px;
  left: -1.4rem;
}
.top-nav__header,
.top-nav__link,
.top-nav__link--sublink {
  outline: none;
}
.about .top-nav__link:first-child::after,
.intelligence .top-nav__header::after,
.zero .top-nav__header::after,
.news .top-nav__link:nth-child(3)::after,
.contact .top-nav__link:last-child::after,
.top-nav__header:hover::after,
.top-nav__link:hover::after,
.top-nav__link--sublink:hover::after {
  background: #fff;
  bottom: -6px;
  bottom: -.6rem;
  content: '';
  height: 2px;
  height: .2rem;
  left: 0;
  position: absolute;
  width: 95%;
}
.top-nav__link--sublink:hover::after {
  bottom: 29px;
  bottom: 2.9rem;
  left: 36px;
  left: 3.6rem;
  width: 53%;
}
.top-nav__link--sublink:nth-child(3):hover::after {
  width: 56%;
}
.top-nav__login-btn {
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $bold-condensed;
  font-size: 15px;
  font-size: 1.5rem;
  @include tracking(300);
  line-height: 1;
  padding: 11px 7px 8px 11px;
  padding: 1.1rem .7rem .8rem 1.1rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 48px;
  top: 4.8rem;
  -webkit-transition: background .1s ease-in,
    color .1s ease-in;
  transition: background .1s ease-in,
    color .1s ease-in;
}
.top-nav__login-btn:hover {
  background: #fff;
  color: $purple;
}