// Mobile Navigation

.top-nav {
  background: $purple;
  height: 68px;
  height: 6.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  width: 100%;
  z-index: 10;
}
.top-nav.is-hidden {
  -webkit-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}
.top-nav__container {
  height: 100%;
  position: relative;
}
.top-nav__banner {
  background: $purple;
  height: 100%;
  position: relative;
  z-index: 10;
}
.top-nav__banner--link > svg {
  background: transparent;
  height: 32px;
  height: 3.2rem;
  left: 23px;
  left: 2.3rem;
  position: absolute;
  top: 19px;
  top: 1.9rem;
}
.top-nav__banner.is-open #mobile-hamburger,
.top-nav__login-btn {
  display: none;
}
.top-nav__close-btn {
  height: 100%;
  padding-left: 50px;
  padding-left: 5rem;
  padding-top: 9px;
  padding-top: .9rem;
  position: absolute;
  right: 2px;
  right: .2rem;
  top: 0;
  width: 100px;
  width: 10rem;
}
.top-nav__line {
  background: #fff;
  display: block;
  height: 4px;
  margin-bottom: 4px;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  width: 26px;
  width: 2.6rem;
}
.top-nav__banner.is-open .top-nav__line:nth-child(2) {
  opacity: 0;
}
.top-nav__banner.is-open .top-nav__line:first-child,
.top-nav__banner.is-open .top-nav__line:last-of-type {
  height: 3px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  width: 25px;
  width: 2.5rem;
}
.top-nav__banner.is-open .top-nav__line:last-of-type {
  -webkit-transform: rotateZ(-45deg) translate3d(-2px, 2px, 0);
  transform: rotateZ(-45deg) translate3d(-2px, 2px, 0);
}

.top-nav__links {
  background: $purple;
  height: calc(100vh - 64px);
  height: calc(100vh - 6.4rem);
  position: relative;
  -webkit-transform: translateY(-165%);
  transform: translateY(-165%);
  -webkit-transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  z-index: 9;
}
.top-nav__link:first-of-type {
  border-top: 1px solid #59507b;
}
.top-nav__banner.is-open + .top-nav__links {
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.top-nav__link,
.top-nav__link--sublink,
.top-nav__header {
  border-bottom: 1px solid #59507b;
  color: #fff;
  font-family: $bold-condensed;
  font-size: m-px(66);
  font-size: m-rem(66);
  font-weight: 400;
  display: block;
  @include tracking(300);
  line-height: 1;
  margin: 0;
  padding: 28px 23px 24px;
  padding: 2.8rem 2.3rem 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}
.top-nav__header {
  border-bottom: none;
}
.top-nav__link--sublink {
  font-family: $condensed;
  font-size: m-px(60);
  font-size: m-rem(60);
  @include tracking(50);
  margin-left: 60px;
  margin-left: 6rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
  padding-top: 21px;
  padding-top: 2.1rem;
  text-transform: none;
}
.top-nav__link--sublink:first-of-type {
  padding-top: 0;
}