// Mobile Navigation

.top-nav {
  background: $purple;
  border-bottom: 1px solid #59507b;
  height: 68px;
  height: 6.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  width: 100%;
  z-index: 10;
}
.top-nav.is-hidden {
  -webkit-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}
.top-nav__container {
  height: 100%;
  position: relative;
}
.top-nav__banner {
  background: $purple;
  border-bottom: 1px solid #59507b;
  height: 100%;
  position: relative;
  z-index: 10;
}
.top-nav__banner--link > svg {
  height: 32px;
  height: 3.2rem;
  left: 23px;
  left: 2.3rem;
  position: absolute;
  top: 17px;
  top: 1.7rem;
}
.top-nav__close-btn svg {
  height: 18px;
  height: 1.8rem;
  position: absolute;
  right: 26px;
  right: 2.6rem;
  top: 24px;
  top: 2.4rem;
}
#mobile-close {
  right: 30px;
  right: 3rem;
}
#mobile-close,
.top-nav__banner.is-open #mobile-hamburger,
.top-nav__login-btn {
  display: none;
}
.top-nav__banner.is-open #mobile-close {
  display: block;
}

.top-nav__links {
  background: $purple;
  position: relative;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  z-index: 9;
}
.top-nav__banner.is-open + .top-nav__links {
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

.top-nav__link,
.top-nav__link--sublink,
.top-nav__header {
  border-bottom: 1px solid #59507b;
  color: #fff;
  font-family: $bold-condensed;
  font-size: m-px(66);
  font-size: m-rem(66);
  font-weight: 400;
  display: block;
  @include tracking(300);
  line-height: 1;
  margin: 0;
  padding: 28px 23px 24px;
  padding: 2.8rem 2.3rem 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}
.top-nav__link--sublink {
  font-family: $condensed;
  font-size: m-px(60);
  font-size: m-rem(60);
  @include tracking(50);
  margin-left: 60px;
  margin-left: 6rem;
  padding-bottom: 20px;
  padding-bottom: 2rem;
  padding-top: 21px;
  padding-top: 2.1rem;
  text-transform: none;
}
.top-nav__link:active,
.top-nav__link--sublink:active {
  background: #fff;
  color: $purple;
}