// Tablet Navigation

.top-nav__container {
  max-width: 100%;
}
.top-nav__login-btn:active {
  background: #fff;
  color: $purple;
}
.top-nav__link:active,
.top-nav__link--sublink:active {
  background: #fff;
  color: $purple;
}