// Hodgepodge Tablet Styles

.footer__logo {
  svg {
    display: none;
  }
}

.modal__header.is-successful {
  .modal__headline {
    padding: 0 50px;
    padding: 0 5rem;
  }
  .standard-button {
    width: 250px;
    width: 25rem;
  }
}