// Desktop Hero Section

.hero {
  background-size: cover;
  height: 585px;
  height: 58.5rem;
  padding-bottom: 60px;
  padding-bottom: 6rem;
  padding-top: 36px;
  padding-top: 3.6rem;
  text-align: left;
}
.hero__container {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  max-width: 1010px;
  max-width: 101rem;
}
.hero__header {
  margin: 0 0 28px;
  margin: 0 0 2.8rem;
}
.hero__headline {
  font-size: 60px;
  font-size: 6rem;
  @include tracking(50);
  @include leading(72);
}
.hero__p {
  font-size: 18px;
  font-size: 1.8rem;
  @include tracking(50);
  margin-bottom: 48px;
  margin-bottom: 4.8rem;
  max-width: 440px;
  max-width: 44rem;
  padding: 0;
  width: 100%;
}
.hero__p--sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.8;
}
.hero__list--item {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 7px;
  margin-bottom: .7rem;
}
.hero__jump-btn {
  background: transparent;
  bottom: -19px;
  bottom: -1.9rem;
  color: #fff;
  cursor: pointer;
  display: block;
  left: 50%;
  margin-left: -80px;
  margin-left: -8rem;
  padding: 0;
  position: absolute;
  transition: none;
  width: 160px;
  width: 16rem;
}
.hero__jump-btn--header {
  display: block;
}
.hero__jump-btn svg {
  display: block;
  margin: 19px auto 0;
  margin: 1.9rem auto 0;
  width: 41px;
  width: 4.1rem;
}
.hero__jump-btn:hover {
  background: transparent;
}

// Section-specific styles

.intelligence,
.zero {
  .hero {
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 60px;
    padding-top: 6rem;
    text-align: left;
  }
  .hero__container {
    padding-right: 0;
  }
  .hero__header {
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
  }
  .hero__headline {
    line-height: 73px;
    line-height: 7.3rem;
    margin-bottom: 25px;
    margin-bottom: 2.5rem;
  }
  .hero__headline--sup {
    font-size: 20px;
    font-size: 2rem;
  }
  .hero__subhead {
    font-size: 30px;
    font-size: 3rem;
    @include tracking(300);
  }
  .hero__list {
    padding-left: 0;
  }
}